---
manufacturers:
  - "!create_or_update:name": "Arista"
    description: "Arista Networks"
  - "!create_or_update:name": "Cisco"
    description: "Cisco Systems"
  - "!create_or_update:name": "OpenGear"
    description: "OpenGear Console Servers"
  - "!create_or_update:name": "APC"
    description: "APC PDUs"
