
{% include './gc_j2_templates/ios/hostname.j2' %}

router bgp 10
  neighbor 1.1.1.1 remote-as 20
  
{% include './gc_j2_templates/ios/ntp.j2' %}

{% include './gc_j2_templates/ios/line.j2' %}

{% include './gc_j2_templates/ios/snmp.j2' %}

{% include './gc_j2_templates/ios/user.j2' %}
