{% include './gc_j2_templates/nxos/hostname.j2' %}

!
{% include './gc_j2_templates/nxos/ntp.j2' %}

!
{% include './gc_j2_templates/nxos/snmp.j2' %}

!
{% include './gc_j2_templates/nxos/line.j2' %}
