---
locations:
  - "!create_or_update:name": "{{ hub_name }}"
    location_type__name: "HUB"
    parent__name: "{{ parent_location.name }}"
    status__name: "Active"
    "!ref": "{{ hub_name | lower }}_loc"

devices:
## 1cw
  - "!create_or_update:name": "{{ hub_name | upper }}1cw/001.0001.106.11/RTR"
    device_type: {"!get:model": "MX 960"}
    role: {"!get:name": "hub-router"}
    platform: {"!get:name": "Juniper Junos"}
    location: "!ref:{{ hub_name | lower }}_loc"
    status__name: "Active"
    interfaces:
      - "!create_or_update:name": "ae1.0"
        device: "!ref:dev_{{ hub_name | lower }}1cw"
        type: "lag"
        status__name: "Active"
        "!ref": "{{ hub_name | lower }}1cw_lag_master"
    module_bays:
      {% for re in ['CB0', 'CB1', 'CB2']%}
      - "!get:parent_device": "!ref:dev_{{ hub_name | lower }}1cw"
        "!get:name": "{{ re }}"
        "!ref": "{{ hub_name | lower }}1cw_{{ re | lower }}_module_bay"
      {% endfor %}
      {% for fpc in range(0,7) %}
      - "!get:parent_device": "!ref:dev_{{ hub_name | lower }}1cw"
        "!get:name": "FPC {{ fpc }}"
        "!ref": "{{ hub_name | lower }}1cw_{{ fpc | lower }}_module_bay"
      {% endfor %}
    "!ref": "dev_{{ hub_name | lower }}1cw"

## 1aw
  - "!create_or_update:name": "{{ hub_name }}1aw/001.0001.106.11/SWT#0"
    device_type: {"!get:model": "QFX5100-96S"}
    platform: {"!get:name": "Juniper Junos"}
    role: {"!get:name": "hub-switch"}
    location: "!ref:{{ hub_name | lower }}_loc"
    status__name: "Active"
    interfaces:
      - "!create_or_update:name": "ae1.0"
        device: "!ref:dev_{{ hub_name | lower }}1aw"
        type: "lag"
        status__name: "Active"
        "!ref": "{{ hub_name | lower }}1aw_lag_master"
    "!ref": "dev_{{ hub_name | lower }}1aw"

modules:
  {% for re in ['CB0', 'CB1', 'CB2'] %}
  - "!create_or_update:module_type__model": "RE-S-2000-4096"
    "!create_or_update:parent_module_bay": "!ref:{{ hub_name | lower }}1cw_{{ re | lower }}_module_bay"
    status__name: "Active"
    {% endfor %}
  {% for fpc in range(0,6) %}
  - "!create_or_update:module_type__model": "MIC-3D-16XGE-SFPP"
    "!create_or_update:parent_module_bay": "!ref:{{ hub_name | lower }}1cw_{{ fpc | lower }}_module_bay"
    status__name: "Active"
    "!ref": "{{ hub_name | lower }}1cw_mic_3d_16xge_sfpp_module"
    {% endfor %}

interfaces:
  {% for lag_member in ['xe-0/0/0', 'xe-0/0/1', 'xe-0/0/2', 'xe-0/0/3'] %}
  - "!get:name": "{{ lag_member }}"
    "!get:module__parent_module_bay": "!ref:{{ hub_name | lower }}1cw_0_module_bay"
    "!ref": "{{ hub_name }}1cw_{{ lag_member | lower }}"
  - "!create_or_update:name": "!ref:{{ hub_name }}1cw_{{ lag_member | lower }}"
    lag: "!ref:{{ hub_name | lower }}1cw_lag_master"
  {% endfor %}
  {% for lag_member in ['et-1/0/0', 'et-1/0/10', 'et-1/0/20', 'et-1/0/30'] %}
  - "!get:name": "{{ lag_member }}"
    "!get:device": "!ref:dev_{{ hub_name | lower }}1aw"
    "!ref": "{{ hub_name }}1aw_{{ lag_member | lower }}"
  - "!create_or_update:name": "{{ lag_member }}"
    device: "!ref:dev_{{ hub_name | lower }}1aw"
    lag: "!ref:{{ hub_name | lower }}1aw_lag_master"
    status__name: "Active"
    "type": "1000base-t"
  {% endfor %}

circuits:
  - "!create_or_update:cid": "91001.GE40.DENCOCO1cw.DENCOCO1aw"
    provider: {"!get:name": "Acme Communications"}
    circuit_type: {"!get:name": "Transport Ethernet"}
    status__name: "Active"

cables:
  - status__name: "Connected"
    label: "{{ hub_name }}1cw_xe-0/0/0_to_{{ hub_name }}1aw_et-1/0/0"
    termination_a: "!ref:{{ hub_name }}1cw_xe-0/0/0"
    "!lookup:termination_b":
      content-type: "dcim.interface"
      device: "!ref:dev_{{ hub_name | lower }}1aw"
      name: "et-1/0/0"
  - status__name: "Connected"
    label: "{{ hub_name }}1cw_xe-0/0/1_to_{{ hub_name }}1aw_et-1/0/10"
    termination_a: "!ref:{{ hub_name }}1cw_xe-0/0/1"
    "!lookup:termination_b":
      content-type: "dcim.interface"
      device: "!ref:dev_{{ hub_name | lower }}1aw"
      name: "et-1/0/10"
  - status__name: "Connected"
    label: "{{ hub_name }}1cw_xe-0/0/2_to_{{ hub_name }}1aw_et-1/0/20"
    termination_a: "!ref:{{ hub_name }}1cw_xe-0/0/2"
    "!lookup:termination_b":
      content-type: "dcim.interface"
      device: "!ref:dev_{{ hub_name | lower }}1aw"
      name: "et-1/0/20"
  - status__name: "Connected"
    label: "{{ hub_name }}1cw_xe-0/0/3_to_{{ hub_name }}1aw_et-1/0/30"
    termination_a: "!ref:{{ hub_name }}1cw_xe-0/0/3"
    "!lookup:termination_b":
      content-type: "dcim.interface"
      device: "!ref:dev_{{ hub_name | lower }}1aw"
      name: "et-1/0/30"