---
locations:
  - "!create_or_update:name": "{{ customer_site_name }}"
    location_type__name: "Site"
    parent__name: "{{ parent_location.name }}"
    status__name: "Active"
    "!ref": "{{ customer_site_name | lower }}_loc"

## 2rt
devices:
  - "!create_or_update:name": "{{ customer_site_name }}2rt/001.0001.106.11/SWT#0"
    device_type: {"!get:model": "FSP 150-xg108"}
    platform: {"!get:name": "Adva Networking"}
    role: {"!get:name": "customer-cpe"}
    location: "!ref:{{ customer_site_name | lower }}_loc"
    status__name: "Active"
    "!ref": "dev_{{ customer_site_name | lower }}2rt"

circuits:
  - "!create_or_update:cid": "91.L1XX.016792..ACME"
    provider: {"!get:name": "Acme Communications"}
    circuit_type: {"!get:name": "Path"}
    status__name: "Active"

vlans:
  - "!create_or_update:vid": "{{ service_vlan.vid }}"
    name: "Service VLAN {{ service_vlan.vid }} for {{ customer_site_name }}"
    status__name: "Active"
    vlan_group__name: "Service VLANs (S-VLAN)"
    description: "Service VLAN {{ service_vlan.vid }} for {{ customer_site_name }}"
    "!ref": "service_vlan_{{ customer_site_name | lower }}"

interfaces:
  - "!get:name": "port-1"
    "!get:device": "!ref:dev_{{ customer_site_name | lower }}2rt"
    "!ref": "cpe_{{ customer_site_name | lower }}2rt_port_1"
  - "!get:name": "et-1/0/1"
    "!get:device__name": "{{ hub_location | upper }}0QW/001.0001.106.11/SWT#0"
    "!ref": "{{ customer_site_name | lower }}2rt_et_1_0_1"
  - "!create_or_update:id": "!ref:cpe_{{ customer_site_name | lower }}2rt_port_1.id"
    mode: "access"
    untagged_vlan__vid: "{{ service_vlan.vid }}"
  - "!create_or_update:id": "!ref:{{ customer_site_name | lower }}2rt_et_1_0_1.id"
    mode: "tagged"
    tagged_vlans:
      - "!ref:service_vlan_{{ customer_site_name | lower }}"

cables:
  - status__name: "Connected"
    label: "cpe_{{ customer_site_name | lower }}2rt_port_1_to_{{ customer_site_name | lower }}2rt_et_1_0_1"
    termination_a: "!ref:cpe_{{ customer_site_name | lower }}2rt_port_1"
    termination_b: "!ref:{{ customer_site_name | lower }}2rt_et_1_0_1"
