---
{% set _stack_data = get_stack_data() %}
device_types:
{% for get_stack_data_instance in _stack_data %}
{%    for master, members in get_stack_data_instance.items() %}
{%        for member, member_data in members.items() %}
  - "!create_or_update:model": "{{ member_data['pid'] }}"
    manufacturer__name: "Cisco"
    "!ref": "dtype_{{ member_data['pid'] | lower }}"
{%         endfor %}
{%     endfor %}
{% endfor %}

virtual_chassis:
{% for get_stack_data_instance in _stack_data %}
{%    for vc_main_device, stack_members in get_stack_data_instance.items() %}
{% set m_device = get_master_data(vc_main_device) %}
{%                if stack_members.keys() | list | count > 1 %}
- "!create_or_update:name": "{{ vc_main_device }}"
  "!ref": "vc_{{ vc_main_device }}"
  members:
{%        for member_num, member_data in stack_members.items() %}
{%            if member_num != '1' %}
  - "!create_or_update:name": "{{ vc_main_device }}:{{ member_num }}"
    serial: "{{ member_data['sn'] }}"
    location__name: "{{ m_device.location.name }}"
    status__name: "Active"
    device_type__model: "!ref:dtype_{{ member_data['pid'] | lower }}"
    role__name: "{{ m_device.role.name }}"
    platform__name: "{{ m_device.platform.name }}"
    vc_priority: "{{ member_data['priority'] }}"
    vc_position: "{{ member_num }}"
{%            else %}
  - name: "{{ vc_main_device }}"
    location__name: "{{ m_device.location.name }}"
    vc_priority: "{{ member_data['priority'] }}"
    vc_position: "{{ member_num }}"
{%            endif %}
{%        endfor %}
{%            endif %}
{%    endfor %}
{% endfor %}
