---
{% set _stack_data = get_stack_data() %}
device_types:
{% for get_stack_data_instance in _stack_data %}
{%    for master, members in get_stack_data_instance.items() %}
{%        for member, member_data in members.items() %}
  - "!create_or_update:model": "{{ member_data['pid'] }}"
    manufacturer__name: "Cisco"
    "!ref": "dtype_{{ member_data['pid'] | lower }}"
{%         endfor %}
{%     endfor %}
{% endfor %}

virtual_chassis:
{% for get_stack_data_instance in _stack_data %}
{%    for vc_main_device, members in get_stack_data_instance.items() %}
- "!create_or_update:name": "{{ vc_main_device }}"
  master__name: "{{ get_current_stack_master(get_stack_data_instance) }}"
  "!ref": "vc_{{ vc_main_device }}"
{%    endfor %}
{% endfor %}

devices:
{% for get_stack_data_instance in _stack_data %}
{%    for master, members in get_stack_data_instance.items() %}
{% set m_device = get_master_data(master) %}
{%        for member, member_data in members.items() %}
{% if member > '1' %}
  - "!create_or_update:name": "{{ master }}:{{ member }}"
    serial: "{{ member_data['sn'] }}"
{% else %}
  - "!create_or_update:name": "{{ master }}"
{% endif %}
    location__name: "{{ m_device.location.name }}"
    status__name: "Active"
    device_type__model: "!ref:dtype_{{ member_data['pid'] | lower }}"
    role__name: "{{ m_device.role.name }}"
    platform__name: "{{ m_device.platform.name }}"
{%                if members.keys() | list | count > 1 %}
    virtual_chassis: "!ref:vc_{{ master }}"
    vc_priority: "{{ member_data['priority'] }}"
    vc_position: "{{ member }}"

{%                  endif %}
{%         endfor %}
    "deferred": true
{%     endfor %}
{% endfor %}
