---
{% set _stack_data = get_stack_data() %}

devices:
{% for get_stack_data_instance in _stack_data %}
{%    for master, members in get_stack_data_instance.items() %}
{% set m_device = get_master_data(master) %}
{%        for member_num, member_data in members.items() %}
{%            if member_num != '1' %}
  - "!create_or_update:name": "{{ master }}:{{ member_num }}"
    serial: "{{ member_data['sn'] }}"
{%            else %}
  - "!create_or_update:name": "{{ master }}"
{%            endif %}
    location__name: "{{ m_device.location.name }}"
    status__name: "Active"
    device_type: {"!create_or_update:model": "{{ member_data['pid'] }}", manufacturer__name: "Cisco"}
    role__name: "{{ m_device.role.name }}"
    platform__name: "{{ m_device.platform.name }}"
{%                if members.keys() | list | count > 1 %}
    virtual_chassis: {"!create_or_update:name": "{{ master }}"}
    virtual_chassis__master__name: "{{ get_current_stack_master(get_stack_data_instance) }}"
    vc_priority: "{{ member_data['priority'] }}"
    vc_position: "{{ member_num }}"
{%                  endif %}
{%         endfor %}
{%     endfor %}
{% endfor %}
