---
{% set _stack_data = get_stack_data() %}

virtual_chassis:
{% for get_stack_data_instance in _stack_data %}
{%    for vc_main_device, stack_members in get_stack_data_instance.items() %}
{%          if stack_members.keys() | list | count > 1 %}
- "!update:name": "!ref:vc_{{ vc_main_device }}"
  master__name: "{{ get_current_stack_master(get_stack_data_instance) }}"
{%          endif %}
{%    endfor %}
{% endfor %}
