---
location_types:
  - "!create_or_update:name": "Region"
    "description": "Region / Continent"
    content_types:
      - { "!get:model": "controller" }
    "!ref": "super_region_loc_type"
    children:
      - "!create_or_update:name": "Sub Region"
        description: "Sub Regions"
        "!ref": "region_loc_type"
        children:
          - "!create_or_update:name": "Data Center"
            description: "DC (Data Center)"
            content_types:
              - { "!get:model": "device" }
              - { "!get:model": "rack" }
              - { "!get:model": "prefix" }
              - { "!get:model": "vlan" }
              - { "!get:model": "vlangroup" }
              - { "!get:model": "circuittermination" }
              - { "!get:model": "controller" }
              - { "!get:model": "powerpanel" }
            "!ref": "dc_loc_type"
          - "!create_or_update:name": "Site"
            description: "Site"
            content_types:
              - { "!get:model": "device" }
              - { "!get:model": "rack" }
              - { "!get:model": "prefix" }
              - { "!get:model": "vlan" }
              - { "!get:model": "vlangroup" }
              - { "!get:model": "circuittermination" }
              - { "!get:model": "powerpanel" }
            "!ref": "site_loc_type"
            children:
              - "!create_or_update:name": "Building"
                description: "Buildings in site"
                content_types:
                  - { "!get:model": "device" }
                  - { "!get:model": "rack" }
                  - { "!get:model": "prefix" }
                  - { "!get:model": "vlan" }
                  - { "!get:model": "vlangroup" }
                  - { "!get:model": "circuittermination" }
                  - { "!get:model": "powerpanel" }
                children:
                  - "!create_or_update:name": "Floor"
                    description: "Floors in site buildings"
                    content_types:
                      - { "!get:model": "device" }
                      - { "!get:model": "rack" }
                      - { "!get:model": "prefix" }
                      - { "!get:model": "vlan" }
                      - { "!get:model": "vlangroup" }
                      - { "!get:model": "circuittermination" }
                      - { "!get:model": "powerpanel" }
          - "!create_or_update:name": "HUB"
            description: "Charter HUB"
            content_types:
              - { "!get:model": "device" }
              - { "!get:model": "rack" }
              - { "!get:model": "prefix" }
              - { "!get:model": "vlan" }
              - { "!get:model": "vlangroup" }
              - { "!get:model": "circuittermination" }
              - { "!get:model": "powerpanel" }
locations:
# REGION/
  - "!create_or_update:name": "North America"
    location_type: "!ref:super_region_loc_type"
    status__name: "Active"
    "!ref": "north_america_loc"
# COUNTRY/
  - "!create_or_update:name": "United States"
    location_type: "!ref:region_loc_type"
    parent__name: "!ref:north_america_loc"
    status__name: "Active"
    "!ref": "usa_loc"
metadata_types:
  - "!create_or_update:name": "data_transfer"
    description: "Boolean metadata type to indicate if a device is used for data transfer"
    data_type: "boolean"
    content_types:
      - { "!get:model": "device" }
      - { "!get:model": "rack" }
      - { "!get:model": "prefix" }
      - { "!get:model": "vlan" }
      - { "!get:model": "vlangroup" }
      - { "!get:model": "circuittermination" }
      - { "!get:model": "powerpanel" }
      - { "!get:model": "location" }
object_metadata:
  - metadata_type__name: "data_transfer"
    assigned_object: "!ref:usa_loc"
    "!create_or_update:_value": false
    scoped_fields: []


{# # Device Owners
object_metadata:
  - metadata_type__name: "Device Owner"
    team__name: "ACME Corporate {{ region_name }} Eng Team"
    assigned_object: "!ref:primary_router_device"
    scoped_fields:
      - "name"
      - "primary_ip4"
      - "description"
      - "status"
      - "location" #}